 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>Currently working full-time as a Software Developer in the aviation industry.</p>
                </div>
                <div class="col-lg-4">
                    <p>Started iOS development in 2020, using Swift and SwiftUI, focusing on WatchOS apps.</p>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=NR4PCBASZ58V6&source=url" class="btn btn-lg btn-outline">
                        <i class="fa fa-credit-card"></i> Donate
                    </a>
                </div>
            </div>
        </div>
    </section>
